.boardContainer{
    display: flex;
    justify-content: space-around;
    justify-items: stretch;
    width: 90vw;
    max-width: 90vw;
}
.boardContainer2{
    display: flex;
    gap: 30px;
    flex-direction: row-reverse;
    width: 89vw;
}
.button{
    background-color: #afaaaa; 
    border: 10px;
    border: 2px solid #131212;
    border-radius: 10%;
    color: rgb(179, 71, 71);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 1%;
}