.formContainer{
    display: flex;
    justify-content: center;
    background-color: rgb(151, 204, 83);
    height: 4.5vh;
    width: 100vw;
}
/* .formBackground{
    display: flex;
    justify-content: center;
    background-color: rgb(35, 187, 124);
    height: 50vh;
    width: 50vw;
} */
.form{
    display: flex;
    height: 40vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    border: 2px solid #ccc;
    margin: 20px;
    padding: 20px;
    width: 30%;
}
.input{
    width: 80%;
}
.inputAge{
    width: 20%;
}
.inputCountry{
    width: 40%;
}
.inputSubmit{
    align-self: center;
}